
.at-input > input {
  width: 100%;
  outline: none;
  font-size: 16px;
  /*padding: 4px 6px;*/
  padding: .75rem;
  border: 0;
  margin-bottom: 1px;
  background-color: white;
}

.at-btn {
  width: 100%;
}
#at-btn {
  font-size: 16px;
  padding: .75rem;
  border: 0;
  text-align: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-image-width: 0;
  border-radius: 0;
  color: white;

  background-color: LightSteelBlue;
  /*
  background-color: LightSlateGray;
  background-color: DarkGray;
  background-color: SteelBlue;
  background-color: DarkCyan;
  background-color: DarkTurquoise;

  background-color: LightYellow;
  background-color: PaleGoldenrod;
  background-color: LightGoldenrodYellow;
  background-color: LightYellow;
  background-color: white;
  */

  /*margin-top: 0px;*/
}
/*.at-input.validating * {
  cursor: progress;
}*/

.at-form > div > p {
  margin: 0 0 0px;
}

.at-form {/*
  float: none;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
*/
  width: 360px;
  padding: 15px;
  border-radius: 8px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140px);

  background-color: #d1e5ff;
  /*
  background-color: AliceBlue;
  background-color: LightSteelBlue;
  background-color: SkyBlue;
  background-color: PowderBlue;

  background-color: LemonChiffon;
  background-color: DarkKhaki;
  background-color: Khaki;
  background-color: Wheat;
  background-color: PaleGoldenrod;
  background-color: LemonChiffon;
  background-color: lightgray;
  */

}


#at-pwd-form > button {
  /*margin: 1em 5% 0;*/
  /*width: 90%;*/
  margin-left: 0;
  margin-right: 0;


}

.at-error {
  color: red;
}

.at-field-email > span {
  color: red;
}

.has-error {
  color: red;
}

.at-signup-link {
  margin-top: 8px;
  /*margin-bottom: 30px;*/
  /*font-size: 16px;*/
}
#at-signUp-preText {
  margin-top: 1em;
  margin-bottom: 0;
  /*font-size: 16px;*/
}

.at-terms-link {
  /*text-align: center;*/
  /*margin-top: 16px;*/
  margin-top: 1em;
  /*font-size: 16px;*/

}

.at-signin-link {
  margin-top: 8px;
  /*margin-bottom: 30px;
  text-align: center;*/
  /*font-size: 16px;*/

}

.at-pwd-link { /*.at-forgotPwd {*/
  /*margin-top: 16px;*/
  margin-top: 1em;
  margin-bottom: 1em;
  /*font-size: 16px;*/
}

.at-resend-verification-email-link {
  margin-bottom: 1em;
}
