<template name="Auth_page">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item">
          <span class="icon-list-unordered"></span>
        </a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        {{> atForm}}
      </div>
    </div>
  </div>
</template>


<template name="override-atForm">
    <div class="at-form">
      {{#if showError}}
        {{> atError}}
      {{/if}}
      {{#if showResult}}
        {{> atResult}}
      {{/if}}
      {{#if showMessage}}
        {{> atMessage}}
      {{/if}}
      {{#if emailAlreadyExists}}
        {{> atPwdLink}}
      {{/if}}

      {{#if showResendVerificationEmailLink}}
        {{> atResendVerificationEmailLink}}
      {{/if}}

      {{#unless registrationInProgress}}
      {{/unless}}

      {{#if showPwdForm}}
        {{> atPwdForm}}
      {{/if}}

      {{#if showTermsLink}}
        {{> atTermsLink}}
      {{/if}}
      {{#if showSignInLink}}
        {{> atSigninLink}}
      {{/if}}
      {{#if showForgotPasswordLink}}
        {{> atPwdLink}}
      {{/if}}
      {{#if showSignUpLink}}
        {{> override_atSignupLink}}
      {{/if}}
    </div>
</template>

<template name="override-atNavButton">
  <button type="button" id="at-nav-button" class="btn btn-default navbar-btn">{{text}}</button>
</template>

<template name="override_atSignupLink">
    <p id="at-signUp-preText">
      {{preText}}
      <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">{{linkText}}</a>
      {{suffText}}
    </p>
</template>

<template name="override-atError">
  <div class="list-errors">
    {{#each error}}
      <div class="list-item"><p class="at-error">{{errorText}}</p></div>
    {{/each}}
  </div>
</template>

<template name="override-atPwdForm">
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" class="{{disabled}}" novalidate action="#" method="POST">
      {{#each fields}}
        {{> atInput}}
      {{/each}}
      {{#if showReCaptcha}}
        {{> atReCaptcha}}
      {{/if}}
      {{> atPwdFormBtn}}
    </form>
  </div>
</template>


<template name="pwdStrength">
  <div class="pwdStrength">
    Weak
  </div>
</template>
