<template name="footer">
  {{#if currentUser}}
  <footer id="footer" class="footer">
    <div class="container">
      <hr>
      <span>
        mpowr.us &mdash; Empowering the neighborhood
      </span>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="padding-top:0%; padding-bottom:0%" href="about"> About </a></li>
        <li><a style="padding-top:0%; padding-bottom:0%" href="mailto:support@mpowr.us"> Contact </a></li>
        <!--li><a style="padding-top:0%; padding-bottom:0%" href="user-manual"> User Manual </a></li-->
        <li><a style="padding-top:0%; padding-bottom:0%" href="terms-of-use"> Terms </a></li>
        <li><a style="padding-top:0%; padding-bottom:0%" href="privacy"> Privacy </a></li>
     </ul>
    </div>
  </footer>
  {{else}}
  <div id="footer" class="navbar-fixed-bottom">
    <div class="container">

      <span class="nav navbar-nav" style="border-width:0; padding-top:0%; padding-bottom:0%; font-size: 18px">
        mpowr.us &mdash; Empowering the neighborhood
      </span>

      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-link before-login" data-toggle="modal" data-target="#aboutPopup" style="border-width:0; padding-top:0%; padding-bottom:0%; margin-left:1em; margin-right:1em; font-size: 18px; outline: none; text-decoration: none;">About</button></li>
        <li><a class="before-login" style="line-height:25px; border-width:0; padding-top:0%; padding-bottom:0%;margin-left:1em; margin-right:1em; font-size: 18px; background-color: transparent" href="mailto:support@mpowr.us"> Contact </a></li>
        <!--li><a type="button" class="btn btn-link" style="margin-left:1em; margin-right:1em; font-size: 18px; outline: none; text-decoration: none;" href="mailto:support@mpowr.us"> Contact </a></li-->
        <li><button type="button" class="btn btn-link before-login" data-toggle="modal" data-target="#faqPopup" style="border-width:0; padding-top:0%; padding-bottom:0%; margin-left:1em; margin-right:1em; font-size: 18px; outline: none; text-decoration: none;">FAQ</button></li>
        <li><button type="button" class="btn btn-link before-login" data-toggle="modal" data-target="#userManualPopup" style="border-width:0; padding-top:0%; padding-bottom:0%; margin-left:1em; margin-right:1em; font-size: 18px; outline: none; text-decoration: none;">User Manual</button></li>
        <li><button type="button" class="btn btn-link before-login" data-toggle="modal" data-target="#termsPopup" style="border-width:0; padding-top:0%; padding-bottom:0%; margin-left:1em; margin-right:1em; font-size: 18px; outline: none; text-decoration: none;">Terms</button></li>
        <li><button type="button" class="btn btn-link before-login" data-toggle="modal" data-target="#privacyPopup" style="border-width:0; padding-top:0%; padding-bottom:0%; margin-left:1em; margin-right:1em; font-size: 18px; outline: none; text-decoration: none;">Privacy</button></li>
     </ul>
    </div>
  </div>

  {{/if}}
</template>
