<template name="nav">
  {{#unless splash}}
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class=container>
      <div class="container-fluid">
        <div class="navbar-header">
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            {{#if multipleNeighborhoods}}
              <li class="dropdown">
                <a class="btn-default dropdown-toggle" data-toggle="dropdown">
                  {{currentNeighborhood}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                {{#each neighborhoods }}
                  <li class="dropdown-item"><a href="#">{{name}}</a></li>
                {{/each}}
                </ul>
              </li>
            {{else}}
              <li><a href="#">{{currentNeighborhood}}</a></li>
            {{/if}}
          </ul>


          <ul class="nav navbar-nav"  style="padding-left:20%; padding-right:0%">
            <li class="{{isActiveRoute regex='dashboard'}}"><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
            {{#if adminUser}}
            <li class="{{isActiveRoute regex='admin'}}"><a href="{{pathFor 'admin'}}">Admin</a></li>
            {{/if}}
            <li class="dropdown {{isActiveRoute regex='faq|user-manual'}}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'faq'}}">FAQ</a></li>
                <li><a href="{{pathFor 'user-manual'}}">User Manual</a></li>
              </ul>
            </li>
            <li class="{{isActiveRoute regex='about'}}"><a href="{{pathFor 'about'}}">Company</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-right:16px">
            {{#if currentUser}}
              {{> atNavButton}}
            {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {{/unless}}
</template>
