/* CSS declarations go here */

.splash {
  background: url(splash.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity: 0.5;*/
  /*background-color:rgba(255,0,0,0.5);*/
}
#footer.navbar-fixed-bottom {
  height: 50px;
}

.navbar {
  background-color : transparent;
}

.tooltip-text {
  border-radius: 3px;
  background-color: white;
  padding: 3px;
}

#chart {
  margin-top: -5px;
}

.navbar-default .navbar-nav>li>a {
  background-color: transparent;
}

img.user-manual {
  margin-top: 0.33em;
  margin-bottom: 1em;
}
img.user-manual.middle-li {
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

div.user-manual {
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
}
div.about {
  margin-top: 3em;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
}