html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 90px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}
#content {
  padding-top: 00px;
}
#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 70px;
  color: DarkSlateGray;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-link.before-login {
  color: darkslategrey;
}
.btn-link.before-login:hover {
  color: #333333;
}
a.before-login {
  color: darkslategrey;
}
a.before-login:hover {
  /*color: DarkOliveGreen;*/
  color: #333333;
}

.page {
  background-color: lightgrey;
  /*height: 640px;*/
}
/*.page-small {
  background-color: lightgrey;
  height: 320px;
}*/

.page-small {
  width: 360px;
  padding: 15px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140px);
  background-color: #d1e5ff;
}

.table td.text-left span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

ul.day-selector {
    list-style-type: none;
    padding:0;
    margin:0;
    /*margin-top:-50px;*/
}

ul.day-selector > li {
    margin-top:1em;
    margin-right:-1em;
}
ul.day-selector > li.btn {
    margin-left:1em;
}

circle.c3-shape.c3-circle {
  opacity: 1 !important;
}

.c3-area {
  stroke-width: 0;
  opacity: 1;
}

div#video_wrapper {
  background-color: black;
}

.keyword {
  color: steelblue;/*#2B547E;#566D7E;*/
}

.btn.disabled, .btn[disabled] {
  opacity: .25
}


.btn.date {
  border-radius:0;
  border-color:transparent;
  background-color:transparent;
  opacity: .5;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius:0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius:0;
}
.btn.date {
  border-radius:0;
  border-color:transparent;
}
.btn.date.active {
  border-color:darkslategrey;
  opacity: 1;
}
.btn-group-vertical.date {
  min-width:100px;
}