<template name="aboutPage">
  <div class="container about">
    <div class="row col-xs-12">
      <h1>{{>aboutTitle}}</h1>
      {{>aboutContent}}
      <p> &nbsp; </p>
    </div>
  </div>
</template>


<template name="aboutTitle">
  About Us
</template>

<template name="aboutContent">
  <p> The founding team at <a>mPowr</a> has deep expertise in application acceleration &amp; computer vision and a proven track record in new product design &amp; delivery. We have served Tier 1 customers such as Apple, Samsung, Sony, Google, Sharp, HP, Dell, Lenovo in multiple markets. We have over 25 years of cumulative executive management experience in private and public companies. We have been a part of successful startups which have had IPOs and/or been acquired by industry leaders.</p>

  <p style="border-top: 1px solid darkgrey; padding-top: 1em"> 
    <b>Sanjay Adkar</b> has over 25 years of experience in engineering leadership and management with startups and public companies. Before <a>mPowr</a>, he was the Vice President of Engineering at Audience, Inc. responsible for Algorithms, SoC design, Software and Systems design and deployment. Previous to Audience, Sanjay was the Executive Vice President of engineering at Brightscale, Inc. managing worldwide engineering teams responsible for massively parallel video processors and software development. Sanjay was the Executive Vice President of Engineering at NetCell Corporation. He served as Vice President of Corporate Engineering at NeoMagic Corp. Before NeoMagic, Sanjay was a Senior Director of the information application organization at National Semiconductor Corporation, where he had general management responsibility for a large organization developing chipsets and intellectual property for information appliances. Prior to that, he worked for five years at LSI Logic Corporation, as a Director of Design and methodology for the ASIC products organization. Sanjay also held engineering positions with Tandem Computers, Inc. He has published numerous articles in design methodology and computer architecture and holds three patents.</p> 
  <p> Sanjay holds a BS degree in Electrical Engineering from the Indian Institute of Technology, Bombay, and a M.S. degree in Electrical Engineering and computer science from Virginia Tech.</p>
  <p style="border-top: 1px solid darkgrey; padding-top: 1em"> 
    <b>Dr Bogdan Mitu</b> has over 23 years of experience in algorithms, hardware and software design. Bogdan is the Senior Computer Vision Engineer at Digital Signal Corporation, a world leader in three dimensional (3D) long-range facial recognition solutions. In this role, he is responsible for developing computer vision algorithms. Before joining Digital Signal Corporation, Bogdan was Director of Algorithm Software at BrightScale, Inc., a startup which developed a new video processing chip and technology. His responsibilities included building and managing a global video software development team and working closely with third party developers to deliver high-quality video post-processing algorithms. Prior to joining Brightscale, Bogdan was Senior ASIC Design and Verification Engineer at NoBug Consulting. Earlier in his career, he was Research Engineer at CNAE Romanian Academy Research Center in Bucharest, Romania. He also worked as a Graduate Teaching Assistant at University POLITEHNICA of Bucharest, where he taught various courses in hardware design and object oriented programming. Bogdan holds a patent in concurrent I/O processing.</p>
  <p> Bogdan holds a Ph.D. and Bachelor of Science degree in Electrical Engineering from University POLITEHNICA of Bucharest, Romania.</p>
  <p style="border-top: 1px solid darkgrey; padding-top: 1em"> 
    <b>Manish Singh</b> has over 22 years of extensive marketing and operational experience with technology start-ups and large corporations. Before <a>mPowr</a>, he was the Vice President of Marketing for Audience Inc. responsible for all aspects of Marketing and Applications Engineering. Before Audience, he was the Director of DisplayPort &amp; Monitor Business Unit at STMicroelectronics, responsible for the business unit’s P&amp;L. Before ST, Manish was the Vice President of cellular marketing for Mobilygen, Inc., which was acquired by Maxim Integrated Products, Inc. He was a Senior Director of marketing with NVIDIA Corp. leading product management for the company’s mobile products. He was the Vice President of Marketing at MediaQ, Inc. before it was acquired by NVIDIA. He started his marketing career at Synplicity, (acquired by Synopsys, Inc). Earlier in his career, he worked as a design engineer at Sun Microsystems, Inc, working on two generations of SPARC processors.</p>
  <p> Manish holds a Master’s degree in Electrical Engineering from Rice University and a Bachelor’s degree in Electrical Engineering from the Manipal Institute of Technology in India.</p>
</template>

<template name="aboutPopup">
  <div class="modal fade" id="aboutPopup" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">{{>aboutTitle}}</h1>
        </div>
        <div class="modal-body">
          {{>aboutContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>



