<template name="adminOrLogin">
  {{#if currentUser}}
  <div class="container">
    {{>admin}}
  </div>
  {{else}}
    {{>fullPageAtForm}}
  {{/if}}
</template>

<template name="admin">
  <div class="container">
    <ul id="admin-tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#emails" data-toggle="tab">Emails</a></li>
      <li><a href="#cameras" data-toggle="tab">Cameras</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="emails">
        {{>allowedEmailsTableOrLoading}}
      </div>
      <div class="tab-pane" id="cameras">
        {{>cameraTableOrLoading}}
      </div>
    </div>
  </div>
</template>
