<template name="cameraSetupView">
  {{#if currentUser}}
  <div class="container">
    {{>cameraTable}}
  </div>
  <div class="container">
    {{>addCamera}}
  </div>
  {{else}}
    {{>fullPageAtForm}}
  {{/if}}
</template>

<template name="cameraTableOrLoading">
  {{#if Template.subscriptionsReady}}
    {{>cameraTable}}
    {{>addCamera}}
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="cameraTable">
  <div class="panel-group" id="accordion">
    {{#each cameras}}
      {{> collapsibleCamera}}
    {{/each}}
  </div>
</template>

<template name="addCamera">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" id="addCameraForm">
        <div class="form-group">        
          <label class="control-label col-sm-2" for="cameraNickname">Nickname:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cameraNickname">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="cameraId">Camera ID:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cameraId">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="position">Position:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="position">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="timezone">Timezone:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="timezone">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="cameraURL">Live Feed URL:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cameraURL">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="storageURL">Streaming URL:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="storageURL">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="downloadURL">Download URL:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="downloadURL">
          </div>
        </div>
        <div class="form-group">        
          <label class="control-label col-sm-2" for="snapshotURL">Snapshot URL:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="snapshotURL">
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="addCamera">Add new camera</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="collapsibleCamera">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{nickname}}">{{nickname}}</a>
      </h4>
    </div>
    <div id="{{nickname}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-striped">
          <tbody>
            <tr><td class="col-md-2">Nickname</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="nickname" acceptEmpty=false autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Camera ID</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="id" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Position</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="position" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Timezone</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="timezone" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Live Feed URL</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="url" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Streaming URL</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="storage" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Download URL</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="download" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td class="col-md-2">Snapshot URL</td><td class="editable-text-trigger">{{> editableText collection="Cameras" field="snapshot" acceptEmpty=true autoInsert=true}}</td></tr>
            <tr><td></td><td class="text-right"><button type="button" class="deleteCamera btn btn-danger btn-sm">Delete</button></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
