<template name="dashboardOrLogin">
  {{#if currentUser}}
  <div class="container">
    {{>dashboardOrLoading}}
  </div>
  {{else}}
    {{>fullPageAtForm}}
  {{/if}}
</template>

<template name="dashboardOrLoading">
{{#if Template.subscriptionsReady}}
  {{>dashboard}}
{{else}}
  <p>Loading...</p>
{{/if}}
</template>

<template name="dashboard">
  <div class="text-center">
    {{#each cameras}}
      {{>cameraThumbnail}}
    {{/each}}
  </div>
</template>

<template name="cameraThumbnail">
  <div class="col-xs-6">
    <div class="caption">
      <p>{{nickname}}</p>
    </div>
    <div class="thumbnail" id="dashboard-{{nickname}}">
    </div>
  </div>
</template>

