<template name="allowedEmailsTableOrLoading">
  {{#if Template.subscriptionsReady}}
    {{> allowedEmailsTable}}
    {{> addEmail}}
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="allowedEmailsTable">
  <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Allowed</th>
            <th>Created</th>
            <th>Verified</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each allowedEmails}}
            {{> allowedEmail}}
          {{/each}}
        </tbody>
      </table>
    <div class="panel-body">
    </div>
  </div>
</template>

<template name="allowedEmail">
  <tr>
    <td class="text-left">{{email}}</td>
    <td class="text-left">
      {{#if passwordCreated}}
        <span class="glyphicon glyphicon-ok" style="color:green; opacity: 0.7"></span>
      {{else}}
        <span  class="glyphicon glyphicon-minus-sign" style="color:red; opacity: 0.7"></span>
      {{/if}}
    </td>
    <td class="text-left">
      {{#if verified}}
        <span class="glyphicon glyphicon-ok" style="color:green; opacity: 0.7"></span>
      {{else}}
        <span  class="glyphicon glyphicon-minus-sign" style="color:red; opacity: 0.7"></span>
      {{/if}}
    </td>
    <td class="text-right"><button type="button" class="deleteEmail btn btn-danger btn-xs">Delete</button></td>
  </tr>
</template>

<template name="addEmail">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline" id="addEmailForm">
        <div class="form-group">
          <input type="text" class="form-control" id="userEmail" placeholder="Email">
          <input type="submit" class="btn btn-default" id="addEmail" value="Add">
        </div>
      </form>
    </div>
  </div>
</template>
