<template name="faq">
  <div class="container">
    <h1 style="border-bottom: 0px solid darkgrey; margin-bottom: 1em;">Frequently Asked Questions</h1>
    <h2>What is mPowr?</h2>
    <p> mPowr is a cloud-based video surveillance service that augments the neighborhood watch. </p>

    <h2>How does mPowr work?</h2>
    <ul>
      <li>Typically 2-4 cameras are installed per neighborhood.</li>
      <li>1 camera per selected home is installed.</li>
      <li>Each camera is connected to a selected home’s cable modem/router to stream video to the cloud.</li>
      <li>Live videos from Surveillance cameras are streamed to the cloud around the clock, so that approved users in your neighborhood can monitor these real-time videos.</li>
      <li>Additionally, video is recorded whenever cameras detect motion and this recorded video is displayed on a web browser on an as-needed basis.</li>
    </ul>

    <h2>What equipment do I need?</h2>
    <p> Once the camera is installed, you don’t need any additional equipment. You can monitor the camera videos using any internet-connected PC or Mac. You will just need a flash-enabled browser like Apple Safari, Google Chrome, or Mozilla Firefox.</p>

    <h2>How long do you store video?</h2>
    <p> We store video for 24 hours, but can extend that for 7 days or 1 month. Videos recorded for 7 days or 1 month are available at an additional cost.</p>
    
    <h2>Who has access to the videos?</h2>
    <p> Only approved users in a neighborhood have access to the video. Approved users can be added or removed if/as needed. No one other than the neighbors has access to videos.</p>

    <h2>What features are available now?</h2>
    <p> We are working hard to add new functionality, but you can already benefit from the following features:</p>
    <p><b>24 hours</b>: Day and Night watch</p>
    <p><b>Live</b>: Real-time visibility of neighborhood</p>
    <p><b>Private</b>: Surveillance data viewable only by the neighbors</p>
    <p><b>Control</b>: Access is enabled and revoked by the neighborhood</p>
    <p><b>Simple</b>: Browser-based, no additional equipment or maintenance costs</p>
    <p><b>Secure</b>: Remote storage prevents theft of data, or damage by vandals</p> 
    <p><b>Clarity</b>: High quality HD video</p>
    <p><b>Focused</b>: Record video only on motion in specific areas</p>

    <h2>Can we add cameras and users to the neighborhood watch?</h2>
    <p> mPowr is flexible and scalable. You can add cameras and users with no issues.</p>

    <h2>How is my data kept safe from hackers?</h2>
    <p> The data is currently secured in Amazon’s S3 cloud. In the future, encryption will be added.</p>

    <h2>What are you working on for the future?</h2>
    <ul>
      <li>Smartphone apps</li>
      <li>License plate reading</li>
      <li>Smart alerts</li>
   </ul>

    <h2>How soon can you deploy in my neighborhood?</h2>
    <p> Please contact mPowr and we will help schedule an installation within 24 hours.</p>

    <h2>What is the bandwidth requirement for camera installation?</h2>
    <p><b>Upload</b>: 5Mbps for upload of camera video at the camera location</p>
    <p><b>Download</b>: 20 Mbps for viewing the neighborhood dashboard</p>

    <h2>How much does mPowr cost?</h2>
    <p> The cost per user is between $5 and $10, depending on the ratio of users per camera. See the table below for some examples.</p>
    <div class="row">
      <div class="col-xs-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th># of Cameras</th>
            <th># of Users</th>
            <th>Monthly Price per User</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>2</th><th>20</th><th>$10</th></tr>
          <tr><th>2</th><th>40</th><th>$5</th></tr>
          <tr><th>4</th><th>40</th><th>$10</th></tr>

          <!--tr><th>1</th><th>1</th><th>$10</th></tr>
          <tr><th>2</th><th>2</th><th>$10</th></tr>
          <tr><th>2</th><th>10</th><th>$8</th></tr>
          <tr><th>2</th><th>22</th><th>$5</th></tr>
          <tr><th>4</th><th>4</th><th>$10</th></tr>
          <tr><th>4</th><th>12</th><th>$9</th></tr>
          <tr><th>4</th><th>28</th><th>$7</th></tr>
          <tr><th>4</th><th>44</th><th>$5</th></tr-->
        </tbody>
      </table>
    </div>
    </div>
    <!--p>Use the calculator below to find your price.</p-->

    <!--p> Please provide the specifics of your neighborhood watch to mPowr and we will provide an estimate.</p-->

    <h2>What is the process of installation?</h2>
    <ol>
      <li>Run test at speedtest.net to check upload and download bandwidth</li>
      <li>Buy camera, POE injector, cables</li>
      <li>Install camera</li>
      <li>Connect camera to the cloud</li>
      <li>Give access to people in the neighborhood to view the cameras</li>
    </ol>
    <p> &nbsp; </p>

  </div>
</template>
