<template name="history">
  <!--container">
    {{> historyTableOrLoading}}
  </div-->
</template>

<!--template name="historyTableOrLoading">
  {{#if Template.subscriptionsReady}}
    {{> historyTable}}
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="historyTable">
  <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Start</th>
            <th>URL</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each videos}}
            {{> video}}
          {{/each}}
        </tbody>
      </table>
    <div class="panel-body">
    </div>
  </div>
</template>

<template name="video">
  <tr>
    <td class="text-left">{{start}}</td>
    <td class="text-left"><a href={{url}}>play</a></td>
    <td class="text-right"><button type="button" class="deleteVideo btn btn-danger btn-xs">Delete</button></td>
  </tr>
</template-->
