<template name="pageDenied">
  <div class="container">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6 page-small text-center">
      <h5 style="margin-top:144px">Error 403: Access restricted to administrator accounts only.</h5>
    </div>
  </div>

</template>
