<template name="pageNotFound">
  <div class="container">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6 page-small">
      <h4>Error 404</h4>
      <h5>The page you are looking for was not found.</h5>
    </div>
  </div>
</template>
