<template name="privacyTitle">
  Privacy Policy
</template>

<template name="privacyContent">
  <p> This privacy policy discloses the privacy practices for mPowr.us. This privacy policy applies solely to information collected by this web site. It will notify you of the following:</p>
  <ul>
    <li> What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared</li>
    <li> What choices are available to you regarding the use of your data</li>
    <li> Security procedures to protect the misuse of information</li>
    <li> How you can correct any inaccuracies in the information</li>
  </ul>

  <h2>Information Collection, Use, and Sharing</h2>

  <p> We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us. We will not sell or rent this information to anyone.</p>
  <p> We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
  <p> Unless you ask us not to, we may contact you via email in the future to tell you about products, services, or changes to this privacy policy.</p>

  <h2>Access to and Control Over Information</h2>

  <p> You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us:</p>
  <ul>
    <li> See what data we have about you, if any</li>
    <li> Change/correct any data we have about you</li>
    <li> Have us delete any data we have about you</li>
    <li> Express any concern you have about our use of your data</li>
  </ul>

  <h2>Security</h2>

  <p> We take precautions to protect your information. When you submit sensitive information, your information is protected.</p>
  <p> Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your browser, or looking for "https" at the beginning of the address of the web page.</p>
  <p> While we protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job are granted access to personally identifiable information. The computers in which we store personal information are kept in a secure environment.</p>

  <h2>Updates</h2>

  <p> Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
  <p> If you have any questions, please contact us.</p>
</template>

<template name="privacyPage">
  <div class="container about">
    <div class="row col-xs-12">
      <h1>{{>privacyTitle}}</h1>
      {{>privacyContent}}
      <p> &nbsp; </p>
    </div>
  </div>
</template>

<template name="privacyPopup">
  <div class="modal fade" id="privacyPopup" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">{{>privacyTitle}}</h1>
        </div>
        <div class="modal-body">
          {{>privacyContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
