<template name="singleCamera">
  <div class="container">

    <a href="rtmp://54.193.171.4:1935/vod/mp4:axis1025.stream_11475855.mp4">stream</a>

      {{> videoWithTimeline }}

  </div>
</template>

<template name="videoWithTimeline">

  <div class="row">
    <div class="col-xs-12">
      <div id="single-camera">
      </div>
    </div>
  </div>

</template>
