
<template name="termsTitle">
  Terms of Use ("Terms")
</template>

<template name="termsContent">
  <p> Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the www.mpowr.us website 
      (the "Service") operated by mParallelo, Inc. ("us", "we", or "our").</p>
  <p> Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. 
      These Terms apply to all visitors, users and others who access or use the Service.</p> 
  <p> By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

  <h2>Termination</h2>

  <p> We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
  <p> All provisions of the Terms, which by their nature, should survive termination, shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

  <h2>Governing Law</h2>

  <p> These Terms shall be governed and construed in accordance with the laws of the United States of America without regard to its conflict of law provisions.</p>
  <p> Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms 
      is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire     
      agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

  <h2>Changes</h2>

  <p> We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice 
      prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
  <p> By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

  <h2>Limitation of Liability</h2>

  <p> In no event will mParallelo neighborhood watch, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, 
      negligence, strict liability or other legal or equitable theory for: 
      <ol>
        <li> any special, incidental or consequential damages;</li>
        <li> the cost of procurement for substitute products or services;</li>
        <li> for interruption of use or loss or corruption of data; or </li>
        <li> for any amounts that exceed the fees paid by you to neighborhood watch under this agreement during the twelve (12) month period prior to the cause of action.</li> 
      </ol>
      Neighborhood watch shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
  </p>

  <h2>Indemnification</h2> 
  
  <p> You agree to indemnify and hold harmless Neighborhood watch, its contractors, and its licensors, and their respective directors, officers, employees and agents 
      from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website, including but not limited to your violation 
      of this Agreement.</p>
  <p> MParallelo Neighborhood Watch does not editorially control the content, products and/or services on target sites and shall not be liable, in any manner whatsoever, 
      for the access to, inability to access and or use, or content available on or through target sites.</p>
 
  <h2>Security</h2> 
  <ul>
    <li> MParallelo Neighborhood Watch shall take all reasonable steps to secure the content of the Website and the information provided by and collected from Users from 
         unauthorized access and/or disclosure. However, MParallelo Neighborhood Watch do not make any warranties or representations that content shall be 100% safe or secure.</li>
    <li> Subject to the provisions of sections 43(5) and 43(6) of the ECT Act, if applicable, MParallelo Neighborhood Watch is under no legal duty to encrypt any content or 
         communications from and to Users and is also under no legal duty to provide digital authentication of any pages on the Website. </li>
    <li> Users may not deliver or attempt to deliver, whether on purpose or negligently, any damaging code, such as computer viruses, robots or spy ware, to the Website or 
         the server and computer network that support the Website.</li>
    <li> Notwithstanding criminal prosecutions, any person who delivers or attempts to deliver any damaging code to the Website, whether on purpose or negligently, shall, 
         without any limitation, indemnify and hold MParallelo Neighborhood Watch harmless against any and all liabilities, damages, risks and losses that 
         MParallelo Neighborhood Watch and its partners / affiliates may suffer as a result of such delivery, attempt or damaging code.</li>
    <li> Users may not develop, distribute, or use any device or program designed to breach or overcome the security measures of the restricted pages, products and services
         on the Website and MParallelo Neighborhood Watch reserves the right to claim damages from any and all persons involved, directly and indirectly, in the development, 
         use and distribution of such devices or programs.</li>
    <li> Users who commit any of the offences detailed in sections 85 to 88 of the ECT Act shall, notwithstanding criminal prosecution, be liable for all resulting 
         liabilities, losses, destruction or damages suffered and/or incurred by MParallelo Neighborhood Watch and its partners / affiliates due to or related to these 
         illegal actions.</li>
  </ul>

  <h2>Disclaimer and Limitation of Liability</h2>
  <ol>
    <li> Subject to the provisions of sections 43(5) and 43(6) of the ECT Act, if applicable, and as far as allowed by law, MParallelo Neighborhood Watch 
         (including its owners, employees, suppliers, Internet service providers, partners, affiliates and agents) shall not be liable forany damage, loss or liability 
         of any nature incurred by whomever and resulting from:
        <ul>
          <li>access to the Website</li>
          <li>access to websites linked to the Website</li>
          <li>inability to access websites linked to the Website</li>
          <li>downloads and use of content from the Website</li>
          <li>and/or any other reason not directly related to MParallelo Neighborhood Watch gross negligence</li>
        </ul>
    </li>
    <li> The MParallelo Neighborhood Watch website is supplied on an "as is" basis and has not been compiled to meet the User's individual requirements. It is the 
         responsibility of the User to satisfy him or herself, prior to entering into this agreement with mParallelo Neighborhood Watch, that the content available from 
         and through the Website meet the User's individual requirements and is compatible with the User's computer hardware and/or software. Information, ideas and 
         opinions expressed on the Website should not be regarded as professional advice or the official opinion of MParallelo Neighborhood Watch and Users are encouraged 
         to consult professional advice before taking any course of action related to the information, ideas or opinions expressed on the Website.
    </li>
    <li> MParallelo Neighborhood Watch does not make any warranties or representation that content and services available from the Website shall in all cases be true, 
         correct or free from any errors. MParallelo Neighborhood Watch shall take all reasonable steps to ensure the quality and accuracy of content available from the Website. 
         MParallelo Neighborhood Watch does not make any warranties or representations that the Website shall be available at all times. Users acknowledge that the Website 
         may be unavailable due to updates or other causes beyond the reasonable control of MParallelo Neighborhood Watch, including, but not limited to virus infection, 
         unauthorized access (hacking), power failure or other "acts of God." MParallelo Neighborhood Watch shall not be liable for any damage, loss, risk, liability or danger 
         resulting from the advertising of any products or services, the review of any products or service, any product or service endorsement or any comments on products 
         and services submitted by Users
    </li>
    
  </ol>
 </template>

<template name="termsPage">
  <div class="container about">
    <div class="row col-xs-12">
      <h1>{{>termsTitle}}</h1>
      {{>termsContent}}
      <p> &nbsp; </p>
    </div>
  </div>
</template>

<template name="termsPopup">
  <div class="modal fade" id="termsPopup" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">{{>termsTitle}}</h1>
        </div>
        <div class="modal-body">
          {{>termsContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
