
<template name="timeline">
  <div class="container" id="timelineContainer">
    {{> timelineOrLoading}}
  </div>
</template>

<template name="timelineOrLoading">
  {{#if Template.subscriptionsReady}}
    {{#if selectedCamera}}
      {{> timelineView selectedCamera}}
    {{else}}
      {{>timelineLoading}}
    {{/if}}
  {{else}}
    {{>timelineLoading}}
  {{/if}}
</template>

<template name="timelineView">
  {{#if Template.subscriptionsReady}}
  <div class="row" style=" display: flex; align-items: center;">
    <div class="col-xs-1" style="padding-left: 6px; min-width:100px;">
      <div class="btn-group-vertical date">
        {{#each date in dates}}
          <button type="button" class="btn btn-default date {{dateActive date}}" id="{{dateIndex date}}">{{dateText date}}</button>
        {{/each}}
      </div>
    </div>
    <div class="col-xs-10" id="timeline-view">
      <div class="caption">
        <p>{{nickname}}</p>
      </div>
      <!--{{#if videosAvailable}}
        {{>videoPlayer}}
      {{else}}
        {{>timeline_noVideo}}
      {{/if}}-->
{{>videoPlayer}}


    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      {{> barChart selectedCamera}}
      {{> timelineNav}}
    </div>
  </div>
  <!--div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
  </div-->
   <div class="row" style="margin-top:2em;">
    <div class="col-xs-1"></div>
      <div class="well col-xs-10">
      <!--div class="alert alert-info col-xs-10"-->
        <p>Use <span class="glyphicon glyphicon-step-forward keyword"></span> and <span class="glyphicon glyphicon-step-backward keyword"></span> to switch to the <span class="keyword">next</span> or <span class="keyword">previous</span> recording.</p>
        <p>Use <span class="glyphicon glyphicon-arrow-down keyword"></span> to <span class="keyword">download</span> the current video. If using Safari, press Option while clicking to force download (otherwise the video will play in the browser).</p>
        <p>Use <span class="glyphicon glyphicon-menu-up keyword"></span> and <span class="glyphicon glyphicon-menu-down keyword"></span> to move the timeline by one <span class="keyword">day</span>.</p>
        <p><span class="keyword">Click</span> in the timeline to <span class="keyword">play</span> recorded videos (blue dots) or live-feed (orange dot). When a video finishes, the next one will automatically start playing.</p>
        <p><span class="keyword">Click</span> on the video player to <span class="keyword">pause</span>; click again to <span class="keyword">continue</span>. Double-click to make the video <span class="keyword">full-screen</span>.</p>
        <p><span class="keyword">Hover</span> mouse over the video to reveal <span class="keyword">additional controls</span>.</p>
      </div>
    </div>
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="videoPlayer">
    <div id="video">
      {{#if videosAvailable}}
        <!--p style="margin-top:0%; margin-bottom:00%;">Loading the player ...</p-->
      {{else}}
        {{>timeline_noVideo}}
      {{/if}}
    </div>
</template>

<template name="timeline_noVideo">
  <div style="width:100%; padding-top:26.25%; padding-bottom:27%; background-color:black; margin-bottom:4px;">
    <p style="color:white; text-align:center">No video available.</p>
  </div>
</template>

<template name="timelineLoading">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10" id="timeline-loading">
       <div style="width:100%; padding-top:26.25%; padding-bottom:30%; margin-bottom:4px;"></div>
    </div>
  </div>
</template>



<template name="timelineNav">
    <div id="controls">
        <div class="col-xs-3" style="text-align:center;">
        </div>
        <div class="col-xs-6 text-center">          
          <div class="btn-group">          
            <button type="button" id="previous" class="btn btn-default" data-dismiss="modal" {{previousDisabled}}><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
            <a href={{downloadURL}} type="button" id="download" class="btn btn-default {{downloadDisabled}}" download><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
            <button type="button" id="next" class="btn btn-default" data-dismiss="modal" {{nextDisabled}}><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
          </div>
        </div>
        <div class="col-xs-3" style="text-align:center;">
      </div>
    </div>
</template>

<template name="barChart">
  {{> c3 myChartData}}
</template>
