<template name="userManualTitle">
  User Manual
</template>

<template name="userManualContent">
  <p> This user manual covers the following topics:</p>
  <ol>
    <li><a href="#account-creation">Account creation</a></li>
    <li><a href="#sign-in">Sign in</a></li>
    <li><a href="#password-reset">Password reset</a></li>
    <li><a href="#video">View live-feed and recorded video</a></li>
  </ol>

  <h2><a name="account-creation"></a>Account creation</h2>

  <p> Before using www.mpowr.us you need to create an account. It only takes a few seconds: use your email as username and create a password. Check your email, you should soon receive an email asking to confirm the registration. Click on the link provided and you're done.</p>    
  <div class="alert alert-info" role="alert">
    For security reasons, only emails part of the neighborhood list can be used. If you were part of the initial mpowr.us neighborhood, your email is already there. If you want to join an existing neighborhood, please contact the neighborhood administrator or send an email to <a href="mailto:support@mpowr.us">support@mpowr.us</a>
  </div>
  <p> Below are step-by-step instructions for account creation:</p>
  <ol>
    <li> Open a browser and go to <a href="http://www.mpowr.us/sign-up">www.mpowr.us</a>. You should see the following form:</li>
    <img class="user-manual" src="SignIn.png">
    <li> Since you don't have an account yet, click on the account creation link. The form will change to:</li>
    <img class="user-manual" src="SignUp.png">
    <li> Enter your email address (the same email address that has been given to your neighborhood admin to be added to the neighborhood list).</li>
    <li> Enter a strong password and remember it.</li>
    <li> If the email address entered is not part of the community list, an error message will be shown:</li>
    Contact <a href="mailto:support@mpowr.us">support@mpowr.us</a> to add your email to the neighborhood list.
    <li> If the email address used was found in the community list, the registration process will show the following message:</li>
    <li> Check your email. You will soon receive an email asking to confirm the registration. Click on the link provided; your account will be validated and you will be automatically logged in. </li>
  </ol>
  <h2><a name="sign-in"></a>Sign In</h2>
  <!--p> If you already have an account you can login again from <a href="http://www.mpowr.us/sign-in">www.mpowr.us</a></p-->
  <ol>
    <li> Go to <a href="http://www.mpowr.us/sign-in">www.mpowr.us</a>. You should see the following form:</li>
    <img class="user-manual" src="SignIn.png">
    <li> Enter the email address and password to sign in. If the sign in credentials do not match those used at account creation, the following message will be displayed:</li>
    <img class="user-manual middle-li" src="SignInError.png"><br>
    Please enter the correct credentials to sign in.
    <li> If you don't remember your password, you can create a new one. See <a href="#password-reset">Password Reset</a>.</li> 
    <!--li> If you don't remember your password, use the Forgot Password link to have your password reset</li> 
    <li> Check your email. You will soon receive an email asking to create a new password; click on the link provided.</li>
    <li> Enter a strong password and remember it. </li-->
  </ol>

  <h2><a name="password-reset"></a>Password Reset</h2>
  <ol>
    <li> If you don't remember your password, go to <a href="http://www.mpowr.us/sign-in">www.mpowr.us</a> and click on the Forgot Password link. The form should change to:</li> 
    <img class="user-manual" src="ResetPwd.png">
    <li> Enter your email.</li>
    <li> Click on the Reset Password button.</li>
    <li> Check your email. You will soon receive an email asking to create a new password; click on the link provided. You should be redirected to a page with the following form:</li>
    <img class="user-manual" src="SetPwd.png">
    <li> Enter a strong password and remember it.</li>
    <li> After a short wait you will be automatically signed in.</li>
  </ol>

  <h2><a name="video"></a>View live-feed and recorded video</h2>
  <ul>
    <li> After signing in the user is automatically directed to the Dashboard page. If you move to another page, you can always access the dashboard by using the link in the top menu.</li>
    <li> The Dashboard page displays live-feeds from all the neighborhood cameras</li>
    <li> If the feeds are not visible, the flash player might not be enabled on the web browser. To enable the flash player follow the instructions provided in the links below:
      <ul>
        <li><a href="https://helpx.adobe.com/flash-player/kb/enabling-flash-player-chrome.html">Flash Player on Google Chrome</a></li>
        <li><a href="https://helpx.adobe.com/flash-player/kb/enabling-flash-player-firefox.html">Flash Player on Mozilla Firefox</a></li>
        <li><a href="https://helpx.adobe.com/flash-player/kb/enabling-flash-player-safari.html">Flash Player on Safari</a></li>
      </ul>
    </li>
    <li>Click on any camera preview to access the timeline for that particular feed.</li>
    <li>Motion-triggered recordings can be seen in the timeline as blue dots. The live feed is represented by the green dot on the right side of the timeline.</li>
    <li>Click on a blue dot to play recorded video. Once a recorded video is played to the end, the next video will start automatically.</li>
    <li>Hover the mouse over the video to bring up additional controls: pause/play, full-screen.</li>
    <li>To make the video full-screen you can either double-click on the video player, or hover the mouse and use the additional controls (see above).</li>
    <li>To exit full-screen, press ESCAPE.</li>
  </ul>
</template>


<template name="userManualPopup">
  <div class="modal fade" id="userManualPopup" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">{{>userManualTitle}}</h1>
        </div>
        <div class="modal-body">
          {{>userManualContent}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="userManualPage">
  <div class="container about">
    <div class="row col-xs-12">
      <h1>{{>userManualTitle}}</h1>
      {{>userManualContent}}
      <p> &nbsp; </p>
    </div>
  </div>
</template>
